@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900:400&display=swap');

:root{
    --mainTextColor-: #2D3142;
    --mainFont-: "Inter";
    --headerWeight-: 900;
    --contentTextSize-: 1.5em;
}

body {
    font-family: var(--mainFont-), sans-serif;
    background: #f4f4f2;
    color: var(--mainTextColor-);
    padding: 0 40px;
    text-align: center;
}

h1 {
    font-family: var(--mainFont-), sans-serif;
    font-weight: var(--headerWeight-);
    font-size: 1em;
    margin: 20px;
    text-align: left;
}
.hero h2{
    font-family: var(--mainFont-), sans-serif;
    font-weight: var(--headerWeight-);
    font-size: 8em;
    margin: 0;
    padding:0;
    line-height: 1em;
    text-transform: uppercase;
    word-spacing: -5px;
}
h3{
    font-family: var(--mainFont-), sans-serif;
    font-weight: var(--headerWeight-);
    font-size: 3em;
    word-spacing: -5px;
    
}

main{
    background: url("/images/polaroid.png") no-repeat center 100px;
    margin: 0 auto;
    width: 800px;
}

.hero{
    min-height: 800px;
}
p{
    font-size: var(--contentTextSize-);
    text-align: left;
}
.list ul{
    list-style: none;
}
.list ul li{
    text-align: left;
    font-size: var(--contentTextSize-);
    padding: 15px 0 15px 80px;
    margin: 10px 0;

}
.wifi{
    background: url(/images/wifi-solid\ 1.png) no-repeat center left;
}
.cloud{
    background: url(/images/cloud-arrow-up-solid\ 1.png) no-repeat center left;
}
.qrCode{
    background: url(/images/qrcode-solid\ 1.png) no-repeat center left;
}
.photos{
    background: url(/images/photo-film-solid\ 1.png) no-repeat center left;
}
.email form{
    background-color: rgb(232, 232, 232);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0.5cm;
    text-align: center;
}
.email input{
    border: none;
    font-family: var(--mainFont-), sans-serif;
    height: 45px;
    
}
.textField{
    width: 600px;
}
.submitButton{
    background-color: red;
    font-weight: var(--headerWeight-);
    text-transform: uppercase;
    color: #fffff7;
    width: 150px;
}
